.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.Die {
  border-radius: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff !important;
  justify-content: space-around;
  padding: 7%;
  box-shadow: 0 0 5px;
  cursor: pointer;
}

.Disabled {
  opacity: 0.5;
  pointer-events: none;
}

.Dot {
  width: 30%;
  height: 30%;
  background-color: inherit;
  /* box-shadow: inset 0 0 5px; */
  box-shadow: inset -12px -10px 5px #041538;
  border-radius: 50%;
}

.Invisible {
  box-shadow: none;
}

.Die.rolling {
  animation: roll 1.2s ease-in-out infinite;
}
@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateX(180deg) rotateZ(180deg);
  }
  75% {
    transform: rotateX(360deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(180deg) rotateZ(180deg);
  }
}

.diebg {
  background: #041538 !important;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 61.938em) {
  .diebg {
    border-radius: 3px;
  }
}
